
.navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    a{
      color: #ffffff; 
      text-decoration: none; 
      padding: 10px; 
      border: 2px solid #ffffff; 
      border-radius: 25px;
      transition: background-color 0.3s, color 0.3s;
    }





    a:hover {
      transform: scale(1.1);
      background-color: #29395f;
      color: #ffff; 
  }
    
  }
